---
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${project_name}
  title: ${project_name}
  description: ${project_description}
  annotations:
    backstage.io/code-coverage: enabled
    backstage.io/source-location: url:https://${git_host}/${project_org}/${project_name}
    backstage.io/techdocs-ref: "dir:."
    github.com/project-slug: ${project_org}/${project_name}
  tags:
    - go
    - github
  namespace: default
spec:
  lifecycle: production
  type: service
  owner: donaldgifford
  system: infrastructure
