{
  $schema: "https://docs.renovatebot.com/renovate-schema.json",
  extends: [
    "${renovate_config_prefix}>${project_org}/renovate-config",
    "${renovate_config_prefix}>${project_org}/renovate-config:go",
    "${renovate_config_prefix}>${project_org}/renovate-config:docker",
    "${renovate_config_prefix}>${project_org}/renovate-config:mise",
    "${renovate_config_prefix}>${project_org}/renovate-config:ci",
  ],
}
