---
# yaml-language-server: $schema=https://www.schemastore.org/catalog-info.json
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${project_name}
  title: ${project_name}
  description: ${project_description}
  annotations:
    backstage.io/source-location: url:https://${git_host}/${project_org}/${project_name}
    backstage.io/techdocs-ref: "dir:."
  tags:
    - node
    - bun
  namespace: default
spec:
  lifecycle: ${project_component_lifecycle}
  type: ${project_component_type}
  owner: ${project_component_owner}
  system: ${project_component_system}
