{
  "name": "${project_name}",
  "version": "0.0.1",
  "private": true,
  "description": "${project_description}",
  "scripts": {
    "start": "docusaurus start",
    "build": "docusaurus build",
    "serve": "docusaurus serve",
    "clear": "docusaurus clear"
  },
  "dependencies": {
    "@docusaurus/core": "TODO-pin-version",
    "@docusaurus/preset-classic": "TODO-pin-version",
    "react": "TODO-pin-version",
    "react-dom": "TODO-pin-version"
  },
  "engines": {
    "node": ">=18"
  }
}
