{
  $schema: "https://docs.renovatebot.com/renovate-schema.json",
  extends: [
    "${git_provider.renovate_config_prefix}>${git_provider.org}/renovate-config",
    "${git_provider.renovate_config_prefix}>${git_provider.org}/renovate-config:mise",
    "${git_provider.renovate_config_prefix}>${git_provider.org}/renovate-config:ci",
  ],
}
