apiVersion: v1
kind: Service
metadata:
  name: {{ include "${project_name}.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "${project_name}.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.httpPort }}
      targetPort: http
      protocol: TCP
      name: http
    - port: {{ .Values.service.metricsPort }}
      targetPort: metrics
      protocol: TCP
      name: metrics
  selector:
    {{- include "${project_name}.selectorLabels" . | nindent 4 }}
